* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    height: 95%;
   }

header {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    position: relative;
    height: 10vh;
    background: gray;

}

.parent {
    background: gray;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-button {
    margin-top: 5vh;
}

.card {
    background-color: black;
    width: 250px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: bottom;
    align-items: center;
    flex-direction: column;
}

.players {
    display: flex;
    color: white;
    margin-top: 100px;
}

#welcome {
    color: white;
}

#welcome .click-start {
    margin-top: 40px;
}

#hello {
    color: white;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

#inner {
    color: white;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    display: none;

}

#number-of-players {
    width: 38px;
    margin-left: 10px;
}

.spies {
    display: flex;
    color: white;
    margin-top: 100px;
    
}

.spies h4 {
    margin-right: 25px;
}

#number-of-spies {
    width: 38px;
    margin-left: 0px;
}

.Buttons {

    position: relative;
    margin-top: 10px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Buttons h4 {
    font-weight: 400;
    font-size: large;
}

#start-button {
    display: relative;
    height: 30px;
    width: 75px;
}

#create-button {
    display: none;
    height: 30px;
    width: 75px;

}

#reveal-button {
    display: none;
    height: 30px;
    width: 125px;
    margin-top: 50px;
}

#hide-button {
    display: none;
    height: 30px;
    width: 125px;
    margin-top: 50px;
}

#end-game {
    display: none;
    height: 30px;
    width: 125px;
    margin-top: 25px;
}

#end-game h4 {
    font-weight: 400;
    font-size: large;
}

.welcome {
    display: block;
}

#game-option {
    display: none;
}

#end-screen {
    color: white;
    display: none;
    margin-top: 25px;
}